.app.dark {
    --bg-color: #282a3a;
    --inverted-bg-color: #eeeeee;

    --primary-color: #fefae0;
    --secondary-color: #04ff04;
    --inverted-primary-color: #19376d;
    --inverted-secondary-color: #0449e0;
}
