:root {
    --bg-color: #eeeeee;
    --inverted-bg-color: #282a3a;

    --primary-color: #4f4557;
    --secondary-color: #0449e0;
    --inverted-primary-color: #fff2cc;
    --inverted-secondary-color: #04ff04;
}
